body{
	margin: 0;
	padding: 0;
}
.stickyheader {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	background-color: black;
	opacity: 0.8;
	align-items: center;
	justify-content: center;
	position: sticky;
	z-index: 9000;
	top: 0;
	width: 100%;
}
.logopicture{
	width: 50%;
	padding: 1.2em;
}
.navigationbar {
	list-style: none;
	overflow: hidden;
	font-size: 1.2em;
	margin: 0;
	padding: 0;
}
.navigationbar li {
	float: left;
}
.navigationbar a {
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
	padding: 50px 16px;
}
.navigationbar a:hover {
	background-color: green;
}
.first {
	margin-top: 50px;
}

/*SLIDESHOW - CAROUSEL*/
.slideshow-container {
	max-width: 1024px;
	position: relative;
	margin: auto;
}
.mySlide {
	display: none;
}
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
 }
 .next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
 	background-color: rgba(0,0,0,0.8);
}
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}
.numbertext{
	color: white;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.active, .dot:hover {
	background-color: black;
}
.fade{
	animation-name: fade;
	animation-duration: 1.5s;
}
@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}