.pictureDiv{
    width: 250px;
    height: 300px;
    padding-top: 15px;
    border: 1px solid black;
    border-radius: 3mm;
    transition: 0.5s;
}
.pictureDiv:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.pictureDiv img {
    height: auto;
    width: 200px;
    padding: 0 5px 0 0;
}
.picture-tag {
    text-align: center;
}
.item-tag{
    text-decoration: none;
    color: black;
}